.benefits__list {
  display: flex;
}

.benefits__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__icon {
  background-color: var(--secondary-background-color);
  width: 270px;
  height: 120px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits__title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.benefits__text {
  line-height: 1.7;
}
