.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__item {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__icon {
  background-color: var(--secondary-background-color);
  width: 100%;
  height: 120px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits__title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__text {
  line-height: 1.7;
}
