.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}

.contact-information {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__invert-part {
  color: var(--invert-text-color);
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: var(--third-text-color);
  transition: color var(--main-transition);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.address__link--contrast {
  color: var(--invert-text-color);
}

.social {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--invert-text-color);
  margin-bottom: 20px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__icon-box {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-transition);
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  fill: var(--invert-text-color);
  align-items: center;
  justify-content: center;
  transition: background-color var(--main-transition);
  &:hover {
    background-color: var(--accent);
  }
}

.social__icon-link--gray {
  fill: var(--icon-color);
  &:hover {
    fill: var(--invert-text-color);
  }
}

.subscribe-form {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
    display: flex;
  }
}

.subscribe-wrap__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--invert-text-color);
  margin-bottom: 20px;
}

.subscribe-form__mail {
  // width: 358px;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 15px;
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border var(--main-transition);
  &:focus {
    border: 1px solid var(--accent);
  }
}

.subscribe-form__button {
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--accent);
  border-radius: 4px;
  border: 0px transparent solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 29px;
  transition: background-color var(--main-transition);
  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }
}

.subscribe-button__text {
  color: var(--invert-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: 10px;
}
